<!DOCTYPE html>
<html>
    <head>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes" >
        <meta name="apple-mobile-web-app-status-bar-style" content="white">
        <meta name="apple-mobile-web-app-title" content="Chur to the chur!" >
        <title>Chur to the chur!</title>
        <link rel="icon" href="/thumb.svg">
        <link rel="apple-touch-icon" href="/thumb.svg">
        <style>
            body {
                overflow: hidden;
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
            }

            .like {
                outline-offset: -5pt;
                background-color: rgb(235, 236, 246);
                border: solid 0.2em rgb(195, 201, 217);
                border-radius: 6pt;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: rgb(70, 91, 148);
            }

            .like:active,
            .like:hover {
                box-shadow: 1pt 1pt gray;
            }


            .like .outer {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5em;
            }

            .like .inner {
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .like img {
                height: 4rem;
            }

            .like span {
                font-size: 4.0em;
                margin-left: 0.5em;
            }
        </style>
        {{ encore_entry_script_tags('main') }}
        <script>
            window.applicationServerKey = "{{ applicationServerKey.publicKey|e('js') }}";
        </script>
    </head>

    <body>
        <button class="like">
            <div class="outer">
                <div class="inner">
                    <img src="/thumb.svg">
                    <span>Chur bro!</span>
                </div>
            </div>
        </button>
    </body>
</html>
